@import './variables.scss';
@import './home.scss';
@import './search-bar.scss';
@import './recent.scss';
@import './results.scss';

//font-family: 'Lato', sans-serif;

a {
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.no-content {
    color: $gray-one;
    font-size: 14px;
    line-height: 17px;
}